MONGO_URI=mongodb://mongo:27017/library_db
TOKEN_TTL=1800
API_PAGE_SIZE=20
API_MAX_PAGE_SIZE=100
APP_ENV=dev
APP_DEBUG=true

COOKIE_VALIDATION_KEY=change-me
BOOTSTRAP_ADMIN_USER=true
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=Admin123!
